.error {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
    border-radius: 6px;
    margin: 0.5rem 0 0 0;
}

.hijo {
    background: rgba(110, 91, 62, 0.904);
    min-height: 700px;
    max-height: 1000px;
    width: 700px;
    position: absolute;
    top: 40%;
    left: 38%;
    margin-top: -70px;
    margin-left: -180px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.row {
    width: 300px;
    padding: 0.5rem 0;
}

.input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #777;
    padding: .5rem;
    box-sizing: border-box;
}

.submit {
    padding: 0.5rem 0;
    background-color: #00a6ff;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(22, 24, 26, 0.15);
}