div#fondo {
    background: linear-gradient(180deg, rgba(201, 138, 3, 0.562), rgb(90, 133, 90), rgb(233, 233, 189));
    height: 1200px;
 
}

div#perfil {
    margin-top: 50px;
    margin-left: 100px;
    background-color:  rgba(15, 11, 0, 0.562);
    width: 1200px;
    height: 320px;

}

div#datos {
    text-align: left;
    margin-top: -150px;
    margin-left: 350px;
    
}
div#perfil1 {
    margin-top: 300px;
    margin-left: 100px;
    background-color: rgba(15, 11, 0, 0.562);
    width: 1200px;
    height: 550px;

}

div#datos1 {
    text-align: left;
    margin-top: -200px;
    margin-left: 150px;
    

}

div#perdidos{
    margin-top: -330px;
    margin-left: 200px;

}

div#miperfil{
    margin-top: -200px;
    margin-left: 800px;

}


