.padre {
    background-image: url("../../../assets/logo/probando.jpg");
    min-height: 1200px;
    max-height: 2500px;
}
.login {
    background-image: url("../../../assets/logo/fondo.png");
    min-height: 1200px;
    max-height: 2500px;
}

.about {
    background-image: url("../../../assets/logo/prueba.jpg");
    min-height: 1000px;
    max-height: 2500px;
 
}

